@import '../abstracts/variaveis';

.container__estatisticas{
    margin: 0px 100px;
    h2{
        font-size: 30px;
        color: $very-dark-blue;
        margin-bottom: 20px;
        text-align: center;
    }
    #p-estatistica{
        font-size: 16px;
        color: $grayish-violet;
        text-align: center;
        margin: 0px 350px 0px 350px;
        line-height: 1.5em;

    }
}

@media screen and (max-width: 480px){
    .container__estatisticas{
        margin: 0px 30px;
        h2{
            font-size: 24px;
        }
        #p-estatistica{
            margin: 0px 0px 40px 0px;    
        }
    }
}