@import './abstracts/base';
@import './components/header';
@import './components/secao-informacoes';
@import './components/secao-input-url';
@import './components/secao-estatisticas';
@import './components/secao-cards';
@import './components/secao-final';