html, body {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 480px) {
  body {
    width: 100vw;
  }
}
.header {
  display: grid;
  grid-template-columns: 15% 35% 50%;
  padding: 40px 100px 60px 100px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: hsl(257deg, 7%, 63%);
}
.header nav ul li:hover {
  color: hsl(255deg, 11%, 22%);
}
.header div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
  color: hsl(257deg, 7%, 63%);
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.header div #entrar:hover {
  cursor: pointer;
  color: hsl(255deg, 11%, 22%);
}
.header div #cadastrar {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
}
.header div #cadastrar:hover {
  cursor: pointer;
  background-color: #6ADDDD;
}

@media screen and (max-width: 480px) {
  .header {
    display: grid;
    grid-template-columns: 15% 35% 50%;
    padding: 40px 30px 40px 30px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  .header nav {
    display: none;
  }
  .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: hsl(257deg, 7%, 63%);
  }
  .header nav ul li:hover {
    color: hsl(255deg, 11%, 22%);
  }
  .header div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    color: hsl(257deg, 7%, 63%);
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  .header div #entrar {
    display: none;
  }
  .header div #entrar:hover {
    cursor: pointer;
    color: hsl(255deg, 11%, 22%);
  }
  .header div #cadastrar {
    display: none;
    background-color: hsl(180deg, 66%, 49%);
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
  }
  .header div #cadastrar:hover {
    cursor: pointer;
    background-color: #6ADDDD;
  }
}
.container__primario {
  margin-bottom: 100px;
}
.container__primario .container__informacoes {
  display: grid;
  grid-template-columns: 55% 45%;
}
.container__primario .container__informacoes .container__informacoes-texto {
  padding: 70px 120px 40px 100px;
}
.container__primario .container__informacoes .container__informacoes-texto h1 {
  font-size: 45px;
  color: hsl(260deg, 8%, 14%);
  padding-bottom: 15px;
  line-height: 1.2;
}
.container__primario .container__informacoes .container__informacoes-texto p {
  color: hsl(257deg, 7%, 63%);
  line-height: 1.3em;
  font-size: 16px;
}
.container__primario .container__informacoes .container__informacoes-texto button {
  margin-top: 30px;
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  padding: 5px 25px;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.container__primario .container__informacoes .container__informacoes-texto button:hover {
  cursor: pointer;
  background-color: #6ADDDD;
}
.container__primario .container__informacoes .container__informacoes-imagem img {
  width: 90%;
}

@media screen and (max-width: 480px) {
  .container__primario {
    margin-bottom: 20px;
  }
  .container__primario .container__informacoes {
    display: flex;
    flex-direction: column-reverse;
  }
  .container__primario .container__informacoes .container__informacoes-texto {
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__primario .container__informacoes .container__informacoes-texto h1 {
    font-size: 30px;
    text-align: center;
  }
  .container__primario .container__informacoes .container__informacoes-texto p {
    font-size: 14px;
    text-align: center;
  }
  .container__primario .container__informacoes .container__informacoes-imagem {
    padding: 0px 30px 0px 30px;
  }
  .container__primario .container__informacoes .container__informacoes-imagem img {
    width: 100%;
  }
}
.container__secundario {
  background-color: #F0F1F6;
  height: 100%;
  z-index: -100;
  padding-top: 20px;
}
.container__secundario .container__input-resultados {
  margin-bottom: 100px;
}
.container__secundario .container__input-resultados .container__input-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-image: url(/assets/images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(257deg, 27%, 26%);
  width: 70%;
  padding: 40px 10px;
  margin: auto;
  border-radius: 10px;
}
.container__secundario .container__input-resultados .container__input-url input {
  border-radius: 10px;
  width: 80%;
  padding-left: 20px;
  font-size: 14px;
}
.container__secundario .container__input-resultados .container__input-url input:focus-within {
  outline: none;
  border: 2px solid hsl(0deg, 87%, 67%);
}
.container__secundario .container__input-resultados .container__input-url input:focus-within::-moz-placeholder {
  color: hsl(0deg, 87%, 67%);
}
.container__secundario .container__input-resultados .container__input-url input:focus-within:-ms-input-placeholder {
  color: hsl(0deg, 87%, 67%);
}
.container__secundario .container__input-resultados .container__input-url input:focus-within::placeholder {
  color: hsl(0deg, 87%, 67%);
}
.container__secundario .container__input-resultados .container__input-url button, .container__secundario .container__input-resultados .container__input-url .botao-copia {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.container__secundario .container__input-resultados .container__input-url button:hover, .container__secundario .container__input-resultados .container__input-url .botao-copia:hover {
  cursor: pointer;
  background-color: #6ADDDD;
}
.container__secundario .container__input-resultados .container__urls-resultados {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  margin: 15px 190px;
  border-radius: 10px;
  font-size: 14px;
}
.container__secundario .container__input-resultados .container__urls-resultados .input-url {
  color: hsl(260deg, 8%, 14%);
}
.container__secundario .container__input-resultados .container__urls-resultados .resultado-url {
  color: hsl(180deg, 66%, 49%);
  justify-self: end;
  margin-right: 20px;
}
.container__secundario .container__input-resultados .container__urls-resultados button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.container__secundario .container__input-resultados .container__urls-resultados button:hover {
  cursor: pointer;
  background-color: #6ADDDD;
}

@media screen and (max-width: 480px) {
  .container__secundario .container__input-resultados {
    margin-bottom: 80px;
  }
  .container__secundario .container__input-resultados .container__input-url {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 25px;
  }
  .container__secundario .container__input-resultados .container__input-url input {
    padding: 5px 25px;
  }
  .container__secundario .container__input-resultados .container__urls-resultados {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
  }
  .container__secundario .container__input-resultados .container__urls-resultados .input-url {
    font-size: 12px;
    margin: 10px 0px 30px 0px;
    text-align: center;
    padding: 0px 10px;
  }
  .container__secundario .container__input-resultados .container__urls-resultados .resultado-url {
    margin-right: 0px;
    margin: 10px 0px;
    font-size: 16px;
  }
  .container__secundario .container__input-resultados .container__urls-resultados button {
    padding: 5px 40px;
  }
}
.container__estatisticas {
  margin: 0px 100px;
}
.container__estatisticas h2 {
  font-size: 30px;
  color: hsl(255deg, 11%, 22%);
  margin-bottom: 20px;
  text-align: center;
}
.container__estatisticas #p-estatistica {
  font-size: 16px;
  color: hsl(257deg, 7%, 63%);
  text-align: center;
  margin: 0px 350px 0px 350px;
  line-height: 1.5em;
}

@media screen and (max-width: 480px) {
  .container__estatisticas {
    margin: 0px 30px;
  }
  .container__estatisticas h2 {
    font-size: 24px;
  }
  .container__estatisticas #p-estatistica {
    margin: 0px 0px 40px 0px;
  }
}
.container__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 100px 40px 100px;
  gap: 80px;
}
.container__cards .imagem-card {
  background-color: hsl(257deg, 27%, 26%);
  padding: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  position: relative;
  top: 14%;
  left: 7%;
}
.container__cards .conteudo-card {
  background-color: white;
  padding: 60px 30px 20px 30px;
  height: 150px;
  margin-bottom: 100px;
  border-radius: 10px;
}
.container__cards .conteudo-card h3 {
  font-size: 16px;
  color: hsl(260deg, 8%, 14%);
  margin-bottom: 20px;
}
.container__cards .conteudo-card p {
  font-size: 14px;
  color: hsl(257deg, 7%, 63%);
  line-height: 1.5em;
}

@media screen and (max-width: 480px) {
  .container__cards {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 40px 30px;
    gap: 0px;
  }
  .container__cards .imagem-card {
    margin-bottom: -30px;
  }
  .container__cards .conteudo-card {
    margin-bottom: 30px;
  }
}
.conteudo-final {
  background-image: url(/assets/images/bg-boost-desktop.svg);
  background-color: hsl(255deg, 11%, 22%);
  height: 190px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.conteudo-final h4 {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 20px 0px;
}
.conteudo-final button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  padding: 7px 25px;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0px 550px;
}
.conteudo-final button:hover {
  cursor: pointer;
  background-color: #6ADDDD;
}

@media screen and (max-width: 480px) {
  .conteudo-final h4 {
    font-size: 26px;
  }
  .conteudo-final button {
    margin: 0px 80px;
  }
}
.footer {
  background-color: hsl(260deg, 8%, 14%);
  display: grid;
  grid-template-columns: 30% 15% 15% 15% 25%;
  height: 130px;
  padding: 50px 100px;
}
.footer span path {
  fill: white;
}
.footer div h5 {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}
.footer div ul {
  color: hsl(0deg, 0%, 75%);
  font-size: 12px;
  line-height: 2em;
}
.footer div ul li a:hover {
  color: hsl(180deg, 66%, 49%);
}
.footer .links__icones-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  width: 25px;
  gap: 20px;
  cursor: pointer;
}
.footer .links__icones-redes a:hover path {
  fill: hsl(180deg, 66%, 49%);
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 470px;
    padding: 40px 30px;
    align-items: center;
  }
  .footer span {
    margin-bottom: 20px;
  }
  .footer span path {
    fill: white;
    text-align: center;
  }
  .footer div h5 {
    margin-bottom: 10px;
    text-align: center;
  }
  .footer div ul {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer .links__icones-redes {
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */